<div class="page-container">
    <app-portfolio-nav></app-portfolio-nav>
    <div class="content-section">
        <section class="intro-section" id="intro">
            <span class="span-nav-number">01.</span>
            <app-intro-content></app-intro-content>
        </section>

        <br>

        <section id="experience">
            <span class="span-nav-number move-experience">02.</span>
            <app-tablist-content [contentInfo]="experienceInfo"></app-tablist-content>
        </section>

        <br>

        <section id="project">
            <h2>Projects</h2>
        </section>

        <section id="contact">
            <h2>Contact</h2>
        </section>
    </div> 
</div>
