@font-face {
    font-family: 'FiraCodeReg';
    src: url('../assets/fonts/FiraCode/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'FiraCodeBold';
    src: url('../assets/fonts/FiraCode/FiraCode-Bold.ttf');
}

.page-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
    column-gap: 6rem;
    flex-grow: 1;
    background-color: rgb(19,29,53);
    color: rgb(231,152,90);
    font-family: 'FiraCodeReg';
}

.content-section {
    padding-top: 50px;
    position: static;
    width: 100%;
}

.info{
    color: white;
}

.temp {
    padding-bottom: 1000px;
}