
<div class="page-container">
    <app-portfolio-nav></app-portfolio-nav>
    <div class="content-section">
        <section id="about">
            <h2 class="section-title">About</h2>
            <p class="info">Full Stack Software Engineer who enjoys solving problems and designing solutions end to end.</p>
            <p class="info">When I'm not on the computer, I am usually playing Basketball, Skating, or Games like CIV or Path of Exile.</p>
            <p class="info">Skills:</p>
            <app-portfolio-skill-badges [skillList]="aboutSkillList"></app-portfolio-skill-badges>
            <div class="temp"></div>
        </section>

        <br>

        <section id="work-experience">
            <h2>Work Experience</h2>
        </section>

        <br>

        <section id="project">
            <h2>Projects</h2>
        </section>
    </div>
</div>