<div class="page-container">
    <app-portfolio-nav></app-portfolio-nav>
    <div class="content-section">
        <section class="intro-section" id="intro">
            <app-intro-content></app-intro-content>
        </section>

        <br>

        <section id="experience">
            <app-work-experience-content [experienceInfo]="experienceInfo"></app-work-experience-content>
        </section>

        <br>

        <section id="project">
            <h2>Projects</h2>
        </section>

        <section id="contact">
            <h2>Contact</h2>
        </section>
    </div> 
</div>
