.page-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
    column-gap: 6rem;
    flex-grow: 1;
}

.content-section {
    padding-top: 50px;
    position: static;
    width: 100%;
}

.temp {
    padding-bottom: 1000px;
}