.skills-section {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.skill-badge {
    background-color: #332a24;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    color: #5ecddb;
    font-weight: bold;

    &-secondary {
        @extend .skill-badge;
        background-color: #87552fc1;
        font-size: 0.7rem;
    }
}

