<div class="intro-section">
    <!-- <span class="section-header">01.</span> -->
    <br>
    <div class="section-header">
        <h1 class="mini-above-text">Hi, my name is</h1>
        <h2 class="name-text">Alif Allgaier</h2>
        <h2 class="intro-text">A Full-Stack Software Engineer</h2>
    </div>
    <div>
        <p class="description-text">
            I enjoy solving problems and designing solutions end to end. 
            I'm currently working at <span class="hover-underline-animation"><a href="https://www.thecranewaregroup.com/" target="_blank">Craneware</a></span>, where I actively contribute to the development and enhancement of cutting-edge software solutions aimed at revolutionizing revenue integrity and cycle management within the healthcare industry.
            <br>
            <br>
            In the moments where i am not Coding, I immerse myself in Basketball, Skateboarding, and Games like CIV or Path of Exile.
        </p>
    </div>
</div>