@use '../../../../../assets/scss/global-var';


.intro-section {
    display: flex;
    flex-direction: column;
    padding-left: global-var.$content-padding;
    padding-right: global-var.$content-padding;
}

.mini-above-text {
    font-size: 15px;
    color: global-var.$special-text;
}

.name-text {
    font-family: global-var.$primaryFontReg;
}

.intro-text {
    color: global-var.$secondary-text;
}

.description-text {
    color: global-var.$secondary-text;
    font-size: 15px;

    a {
        text-decoration: none;
        color: global-var.$special-text;
        font-weight: bold;
    }
}
