<div class="section-container">
    <div class="top">
        <div class="information-section">
            <h1>Alif Allgaier</h1>
            <h2>Mid-Level Software Engineer</h2>
            <p>
                I am a full stack engineer that strives on working in a team
            </p>
        </div>
        
        <div class="navigation-section">
            <p>nav1</p>
            <p>nav2</p>
            <p>nav3</p>
        </div>
        
    </div>
    
    <div class="bottom">
        <div class="social-section">
            <p>this is social bar</p>
        </div>
    </div>
    
</div>