.skills-section {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.skill-badge {
    background-color: teal;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    color: aquamarine;
    font-weight: bold;

    &-secondary {
        @extend .skill-badge;
        background-color: rgba(0, 128, 128, 0.7);
        font-size: 0.7rem;
    }
}

