<div class="nav-container">
    <div class="top">
        <div class="information-section">
            <h1>Alif Allgaier</h1>
            <h2>Mid-Level Software Engineer</h2>
            <p>
                I am a full stack Software Engineer
            </p>
        </div>
        
        <div class="navigation-section">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="">nav1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">nav1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">nav1</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="bottom">

    </div>
</div>