<div class="nav-container">
    <div class="top">
        <div class="information-section">
            <h1>Alif Allgaier</h1>
            <h2>Mid-Level Software Engineer</h2>
            <p>
                I am a Full Stack Software Engineer
            </p>
        </div>
        
        <div class="navigation-section">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work-experience">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#project">Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="bottom">
        <p>This is a temporary social bar</p>
    </div>
</div>