<div class="page-container">
    <div class="left-section-container">
        <div class="top">
            <div class="information-section">
                <h1>Alif Allgaier</h1>
                <h2>Mid-Level Software Engineer</h2>
                <p>
                    I am a full stack Software Engineer
                </p>
            </div>
            
            <div class="navigation-section">
                <nav>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="">nav1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">nav1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">nav1</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
        </div>
        
        <div class="bottom">
            <div class="social-section">
                <p>this is social bar</p>
            </div>
        </div>
        
    </div>
    
    <div class="right-section-container">
        <h1>head1</h1>
        <h1>head2</h1>
        <h1 id="section-3">head3</h1>
        <h1>head4</h1>
        <h1>head5</h1>
    </div>
</div>