@font-face {
    font-family: 'FiraCodeReg';
    src: url('../fonts/FiraCode/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'FiraCodeBold';
    src: url('../fonts/FiraCode/FiraCode-Bold.ttf');
}

$primaryFontReg: 'FiraCodeReg';
$primaryFontBold: 'FiraCodeBold';
$specialFontReg: '';
$specialFontBold: '';
$sectionHeaderTextSize: '';
$descriptionTextSize: '';



$transparent-primary-background-colour: rgba(19, 29, 53, 0.496);
$primary-background-colour: rgb(19,29,53);
$secondary-background-colour: none;
$special-text: rgb(231,152,90);
$primary-text: rgb(204,214,246);
$secondary-text: rgba(204, 214, 246, 0.613);
$tertiary-text: none;


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $special-text;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $special-text;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}